<!--<section class="ftco-section">

    <div class="container">

        <div class="row justify-content-center">

        

        </div>

        <div class="row justify-content-center">

            <div class="col-md-7 col-lg-5">

                <div class="wrap">

                    <div class="img" style="background-image: url(assets/img/lo.jpg);"></div>

                    <div class="login-wrap p-4 p-md-5">

                  <div class="d-flex">

                      <div class="w-100">

                          <h3 class="mb-4">Sign In</h3>

                      </div>

                            <div class="w-100">

                                <p class="social-media d-flex justify-content-end">

                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>

                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>

                                </p>

                            </div>

                  </div>
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-2">
            <h3 style="text-align: center;">Login</h3>
            <form [formGroup]='LoginFormGroup'>
                <div class="form-group">
                    <input type="text" formControlName='agency_username' class="form-control"
                     placeholder="Your Username" />
                </div>
                <br>
                <div class="form-group">
                    <input type="password" formControlName='agency_password' class="form-control"
                     placeholder="Your Password " />
                </div>
                <div class="form-group">
                    <label></label>
                    <br>
                    <button type="submit" (click)="OnSubmit()" class="btn btn-danger" 
                    rounded="true">
                        LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div> 
-->


<section class="ftco-section">

    <div class="container">

        <div class="row justify-content-center">

        

        </div>

        <div class="row justify-content-center">

            <div class="col-md-7 col-lg-5">

                <div class="wrap">

                    <div class="img" style="background-image: url(assets/img/lo.jpg);"></div>

                    <div class="login-wrap p-4 p-md-5">

                  <div class="d-flex">

                      <div class="w-100">

                          <h3 class="mb-4">Sign In</h3>

                      </div>

                            <div class="w-100">

                                <p class="social-media d-flex justify-content-end">

                                   
                                </p>

                            </div>

                  </div>
                  <form [formGroup]='LoginFormGroup'>
                    <div class="form-group">
                        <input type="text" formControlName='agency_username' class="form-control"
                         placeholder="Your Username" />
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" formControlName='agency_password' class="form-control"
                         placeholder="Your Password " />
                    </div>
                    <div class="form-group">
                        <label></label>
                        <br>
                        <button type="submit" (click)="OnSubmit()" class="btn btn-danger" 
                        rounded="true">
                            LOGIN</button>
                    </div>
                </form>

            </div>

          </div>

            </div>

        </div>

    </div>

</section> 