<!-- ======= Header ======= -->

<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="container d-flex align-items-center justify-content-between">



       

            <img src="assets/img/gallery/logo1.png" width="200px" height="100px">
            

        


        <nav id="navbar" class="navbar">

            <ul>

                <li><a [routerLink]="['/GuestMaster/Home']">Home</a></li>

                <li><a [routerLink]="['/GuestMaster/About']">About</a></li>


                <li><a [routerLink]="['/GuestMaster/CustomerRegistration']">Customer Registration</a></li>

                <li><a [routerLink]="['/GuestMaster/ContactAdmin']">Contact</a></li>


                <li><a [routerLink]="['/GuestMaster/Login']">Agency Login</a></li>
                <li><a [routerLink]="['/GuestMaster/CustomerLogin']">Customer Login</a></li>


                <!--<li><a href="#chefs">Chefs</a></li>

                <li><a href="#gallery">Gallery</a></li>

                <li class="dropdown"><a href="#"><span>Drop Down</span> <i

                            class="bi bi-chevron-down dropdown-indicator"></i></a>

                    <ul>

                        <li><a href="#">Drop Down 1</a></li>

                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i

                                    class="bi bi-chevron-down dropdown-indicator"></i></a>

                            <ul>

                                <li><a href="#">Deep Drop Down 1</a></li>

                                <li><a href="#">Deep Drop Down 2</a></li>

                                <li><a href="#">Deep Drop Down 3</a></li>

                                <li><a href="#">Deep Drop Down 4</a></li>

                                <li><a href="#">Deep Drop Down 5</a></li>

                            </ul>

                        </li>

                        <li><a href="#">Drop Down 2</a></li>

                        <li><a href="#">Drop Down 3</a></li>

                        <li><a href="#">Drop Down 4</a></li>

                    </ul>

                </li>-->



            </ul>

        </nav><!-- .navbar -->



        <!---- <a class="btn-book-a-table" href="#book-a-table">Book a Table</a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>

        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>-->



    </div>

</header><!-- End Header -->





<router-outlet></router-outlet>



<!-- ======= Footer ======= -->

<footer id="footer" class="footer">



    <div class="container">

        <div class="row gy-3">

            <div class="col-lg-3 col-md-6 d-flex">

                <i class="bi bi-geo-alt icon"></i>

                <div>

                    <h4>Address</h4>

                    <p>

                        Nest Digital <br>

                        Kakkanad,Kochin<br>

                    </p>

                </div>



            </div>



            <div class="col-lg-3 col-md-6 footer-links d-flex">

                <i class="bi bi-telephone icon"></i>

                <div>

                    <h4>Contact us</h4>

                    <p>

                        <strong>Phone:</strong>  8075523852<br>

                        <strong>Email:</strong> recyclia@gmail.com<br>

                    </p>

                </div>

            </div>



            <div class="col-lg-3 col-md-6 footer-links d-flex">

                <i class="bi bi-clock icon"></i>

                <div>

                    <h4>Opening Hours</h4>

                    <p>

                        <strong>Mon-Sat: 11AM</strong> - 7PM<br>

                        Sunday: Closed

                    </p>

                </div>

            </div>



            <div class="col-lg-3 col-md-6 footer-links">


               

            </div>



        </div>

    </div>



    <div class="container">

        <div class="copyright">


        </div>

        <div class="credits">

            <!-- All the links in the footer should remain intact. -->

            <!-- You can delete the links only if you purchased the pro version. -->

            <!-- Licensing information: https://bootstrapmade.com/license/ -->

            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->

            Designed by <a href=" ">NestDigitals</a>

        </div>

    </div>



</footer><!-- End Footer -->

<!-- End Footer -->