<br>
<br>
<br>
<div class="container">
    <img src="https://www.recyclenow.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Ft5gtctpjc8ne%2F1vApHzDroKtVC9ux4kyOII%2Fe2e3dde418a68afc5a8d2aaf037f6714%2Fhero-lemons_potatoes_skins_with_knife_FD_0255_SS.jpg&w=1920&q=75" width="1300px">
</div><br>
<br>
<br>
<h1>How is food waste recycled?</h1>
<br>
<p>Around 4.5 million tonnes of food is thrown away by households in the UK every year, and most of it could have been eaten. That is enough to fill 38 million wheelie bins, or 90 Royal Albert Halls. Avoiding throwing out food that could have been eaten will save you money and help reduce greenhouse gas emissions.</p>
<br>
<h1>Why is it important to recycle food waste?</h1>
<br>
<p>Food waste that is not recycled may be sent to landfill where it rots, causing a huge negative impact on the environment by releasing methane – a harmful greenhouse gas that is 25 times more potent than carbon dioxide.

    Some local councils send their non-recyclable waste to be incinerated to create useful energy. However, food waste is composed of about 70% water, requiring considerably more energy to burn it, making this a less efficient method of disposal than recycling.
    
    More and more people are recycling their food waste. If we all stopped wasting the food which could have been eaten, it would have the same CO2 impact as taking 1 in 4 cars off UK roads.
    
    </p>
<br>
<h1>How is food waste recycled?</h1>
<p>Many local authorities now collect food waste, which can be recycled in several ways including:</p>
<br>
<h5>In-vessel composting</h5>
<br>
<p>This involves mixing food waste with garden waste – shredding it and then composting it in an enclosed system for around 2-4 weeks at temperatures of up to 70°C. This speeds up the composting process and ensures any harmful microbes are killed off. The material is then left outside to mature for a further 1-3 months with regular turning and quality checks before going on to be used as soil conditioner.</p>
<br>
<h5>Anaerobic Digestion</h5>
<br>
<p>This process uses microorganisms to break down food waste, animal manure, slurries and energy crops in the absence of oxygen, inside an enclosed system. As it breaks down it gives off methane, which is collected and converted into biogas and used to generate electricity, heat or transport fuels. It also creates a nutrient-rich digestate that can be used as a fertiliser for agriculture and in land regeneration.

</p>
<br>
<h1>How is it used?</h1>
<br>
<p>Food waste that is recycled also has many uses. It can be converted into fertilisers for agriculture or converted into natural forms of energy which are a good alternative to fossil fuels.</p>
<br>
<br><div class="container">
<p><a [routerLink]="['/CustomerMaster/RegisterFood']">To Register Food Waste</a></p></div>
<br>
<br>
<br>
<br>
<br>