<br>
<br>
<br>
<br>
<br>
<div class="container mt-3">
    <h1>PRODUCT DETAILS</h1>
<br>
<br>

  
    <table class="table">
      <thead>
        <th>No</th>
  
        <th>Product Name</th>
  
        <th>Product Description</th>
  
        <th>Product Price</th>
      
  
       
  
        <th>Show Interest</th>
      </thead>
  
      <tr *ngFor="let item of Dataarray; let i = index" class="table-primary">
        <td>{{ i + 1 }}</td>
  
        <td>{{ item.product_name }}</td>
  
        <td>{{ item.product_description }}</td>
        <td>{{ item.product_price }}</td>
  
             
  
        <td>
          <a [routerLink]="['/CustomerMaster/ShowInterest', item.product_id]">Show Interest</a>
        </td>
      
      </tr>
    </table>
  </div>
<br>
<br>
  