<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 style="text-align: center;">UPDATE STATUS OF COMPLAINT</h3>
<br>
<br>
<br>

            <form [formGroup]="SolveComplaintForm">
                Complaint Status
                <div class="form-group">
                    <select formControlName="complaint_status" class="form-control" id="sel1">                    

                    <option  >Solved</option>

                    <option >Not Solved</option>
                  </select>              
                  </div>
                <br>

                <div class="form-group">
                    <br>
                    <button type="submit" (click)="onSubmit()"  class="btn btn-danger" rounded="true">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
