<div class="container mt-3">
    <h1>OUR PRODUCTS</h1>
    <br>
    <br>
  
    <table class="table table-dark">
      <thead>
        <th>No</th>
  
        <th>Product Name</th>
  
        <th>Product Description</th>
  
        <th>Product Price</th>
      
      </thead>
  
      <tr *ngFor="let item of Dataarray; let i = index" class="table-primary">
        <td>{{ i + 1 }}</td>
  
        <td>{{ item.product_name }}</td>
  
        <td>{{ item.product_description }}</td>
        <td>{{ item.product_price }}</td>
       
      
      </tr>
    </table>
  </div>
  